[Unit]
Description=Spring Pet Clinic project
After=amazon-ssm-agent.service

[Service]
EnvironmentFile=-/etc/default/springpetclinic
ExecStart=/usr/bin/bash -c "java -Xmx3g -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath=\"target/logs/\" -jar /opt/springpetclinic/lib/springpetclinic-*.jar"
SuccessExitStatus=143

Restart=on-failure

StandardOutput=messages
StandardError=messages
SyslogIdentifier=springpetclinic

[Install]
WantedBy=multi-user.target